.movie-details-card{
  margin-top: 150px;
  margin-left: 100px;
  display: flex;
  justify-content: center;
  align-items:flex-start;
  gap: 50px;
}
.movie-details{
  display: flex;
  flex-direction: column;
  

  text-align: center;
  /* margin-left: auto;
  margin-right: auto; */
  margin-left: 150px;
  margin-right: 150px;
}

.movie-banner{
  height: 50%;
  max-height: 350px;
  max-width: 500px;
  /* max-width: 300px; */
  border-radius: 20px;
}
.grey-text{
  color: rgb(155, 155, 155);
}
.form-button{
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.form-button>button{
  padding: 15px 15px;
  border-radius: 50px;
  cursor: pointer;
  border: none;
}
.form{
  display: flex;
  justify-content: center;
  padding-top: 50px;
  /* margin-left: 50px; */
}
