form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

label {
  display: inline-block;
  width: 120px; /* Set a fixed width for the labels */
}

input[type="text"],
input[type="email"],
input[type="number"] {
  flex: 1; /* Fill available space */
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  width: 200px;
}

.submit-btn {
  align-self: flex-start;
  padding: 12px 25px;
  border-radius: 50px;
  border: none;
  background-color:#79c142;
  margin-top: 30px;
}
