.movie-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  color: white;

}
.movie-info{
  display: flex;
  flex-direction: column;
  background-color: #182336;
  padding: 10px;
  border-radius: 10px;
  width: 300px;
  height: 450px; 
  overflow: hidden; 
  margin: 10px; 

}
.poster{

  width: 100%; 
  height: 100%; 
  object-fit: cover;
}
.movie-name,.rating{
  text-align: center;
 
}
.movie-name{
  margin-top: 7px;
}
a {
  color: inherit;
  text-decoration: none;
}
