body{
  margin: 0;
}

.navbar{
  background-color: #0f1622;
  color: white; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 100px;
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    text-align: center;
    padding: 10px; /* Adjust as needed */
  }
}
  .searchbar{
    height: 25px;
    border-radius: 20px;
    border-style: solid;
    padding: 5px 20px;
  }
  @media (max-width: 768px) {
    .searchbar {
      display: none;
    }
  }
.navbar-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}